.footer-copyright {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  opacity: 1;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.footer-copyright,
.footer-copyright h2 {
  background: linear-gradient(360deg, #000e38 0%, #3f186a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 200px;
  background: linear-gradient(
    180deg,
    #4b0f75 0%,
    #3f186a 20%,
    #1e1638 65%,
    #001231 100%
  );
  height: 274px;
  z-index: 0;
}

.footer-row {
  display: flex;
  gap: 10px;
}

.footer-banner {
  z-index: 1;
}

.footer-col-header {
  font-family: "Museo Sans", "Museo Sans 700", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: -35px;
  font-style: Regular;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 6px;
}

.footer-col-details {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 10px;
  font-family: open-sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

/* Mobile */
@media (max-width: 767px) {
  .footer-copyright {
    max-width: 316px;
    height: 43px;
    margin: 0 auto;
    padding: 10px 8px;
    font-size: 14px;
  }
}

/* Desktop / Full screen */
@media (min-width: 768px) {
  .footer-copyright {
    max-width: 496px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
  }
}
